.container{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.left{
    flex-basis: 50%;
    text-align: center;
}

.left h1{
    margin-block: 15px;
    color: rgb(255, 98, 0);
}
.left p{
    color:#333;
    line-height: 1.8rem;
    max-width: fit-content;
}
.img{
    flex-basis: 50%;

}

.img img{
    width: 500px;
    height: 500px;
}


@media screen and (max-width:700px){
    .container{
        flex-direction: column;
    }
}